<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="Content-Type" content="text/html">-->
<!--    <title>Buy8Sell</title>-->

<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
<!--</head>-->

<body>

<nav th:replace="fragments/navbar.html"></nav>


<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />-->

<div class="container bootdey">

    <div class="col-md-3">

        <section class="panel">

            <div class="panel-body">

                <form th:action="@{/products/all}"
                      th:method="post"
                      th:object="${productSearchingBindingModel}"

                      role="form product-form">

                    <div class="form-group">
                        <label>SEARCH</label>
                        <input th:field="*{title}"
                                type="text" placeholder="Search by title" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>PRICE</label>
                        <input th:field="*{min}"
                               th:errorclass="is-invalid"
                                type="number" placeholder="Minimum price" class="form-control" />
                        <small class="invalid-feedback text-danger">Minimum price should be bigger than zero! </small>

                        <input th:field="*{max}"
                               th:errorclass="is-invalid"
                                type="number" placeholder="Maximim price" class="form-control" />
                        <small class="invalid-feedback text-danger">Maximum price should be bigger than zero! </small>
                        <small th:if="${isMinBiggerThanMax}" class="text-danger">Maximum price should be bigger than minimum! </small>
                    </div>



                    <div class="form-group">
                        <div class="text-white label-holder d-flex justify-content-center">
                            <label for="style" class="h4 mb-2">Style</label>
                        </div>
                        <label>CATEGORY</label>
                        <select th:field="*{category}"
                                th:errorclass="'is-invalid alert-danger'"
                                class="browser-default custom-select" id="style" name="style">
                            <option value="">SELECT CATEGORY</option>
                            <option th:each=" category : ${T(com.example.sellbuy.model.entity.enums.CategoryEnum).values()}"
                                    th:value="${category}" th:text="${category}">Category</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="text-white label-holder d-flex justify-content-center">
                            <label for="style" class="h4 mb-2">Style</label>
                        </div>
                        <label>LOCATION</label>
                        <select th:field="*{location}"
                                th:errorclass="'is-invalid alert-danger'"
                                class="browser-default custom-select" id="style" name="style">
                            <option value="">All</option>
                            <option th:each=" location : ${T(com.example.sellbuy.model.entity.enums.LocationEnum).values()}"
                                    th:value="${location}" th:text="${location}">Location</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="text-white label-holder d-flex justify-content-center">
                            <label for="style" class="h4 mb-2">Style</label>
                        </div>
                        <label>SORT BY</label>
                        <select th:field="*{orderBy}"
                                th:errorclass="'is-invalid alert-danger'"
                                class="browser-default custom-select" id="style" name="style">
                            <option value="">SORT BY</option>
                            <option th:each=" orderBy : ${T(com.example.sellbuy.model.entity.enums.OrderBYEnum).values()}"
                                    th:value="${orderBy}" th:text="${orderBy}">OrderBy</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">SEARCH</button>
                </form>
            </div>
        </section>
    </div>


    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">
                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </section>


        <div class="row product-list">

            <div th:each="productView : ${productSearchViewModelList}" th:object="${productView}"
                    class="col-md-4">
                <section class="panel">

                    <div class="pro-img-box text-center">
                        <img th:src="*{mainPicture}"
                             width="250" height="220" />

                            <th:block th:if="*{!isProductIsFavorInCurrentUser()}">

                                <form th:method="post"
                                      th:action="@{/users/add/favorites/{id}(id=*{id})}">
                                   <button
                                      type="submit" class="btn btn-danger bi bi-heart" >Add to favorites
                                   </button>
                                </form>
                            </th:block>

                            <th:block th:if="*{isProductIsFavorInCurrentUser()}">
                                <button class="btn btn-success bi bi-heart">Added to favorites</button>

<!--                                <form th:method="post"-->
<!--                                      th:action="@{/users/remove/favorites/{id}(id=*{id})}">-->
<!--                                <button  type="submit" class="btn btn-success bi bi-heart" >-->
<!--                                    <i class="bi bi-heart"></i>-->
<!--                                    Go to favorites-->
<!--                                </button>-->
<!--                                </form>-->

                            </th:block>



<!--                        <a th:href="@{/users/add/favorites/{id}(id=*{id})}"-->
<!--                                type="button" class="btn btn-danger">Add to favorites</a>-->
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a th:href="@{/products/{id}(id=*{id})}" th:text="*{title}" class="pro-title">
                               tittle
                            </a>
                        </h4>
                        <h5 th:if="*{isPromo()}"> <span class="badge badge-warning">PROMO</span></h5>
                        <p class="price" th:text="|*{price} BGN|">$300.00</p>

                    </div>
                </section>
            </div>



        </div>
    </div>
</div>


<<th:block th:replace="fragments/scripts::scripts">

</th:block>
</body>

</html>