<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>
<body>

<nav th:replace="fragments/navbar.html"></nav>


<div class="jumbotron jumbotron-fluid text-center">

        <div class="">

            <div class="d-inline-block">
                <div
                        class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box text-center">
                            <img src="https://thumbs.dreamstime.com/b/set-doodle-elements-sweet-home-vector-illustrations-interior-household-items-stay-covid-hand-drawing-186739907.jpg"
                                 width="250" height="220" />
                        </div>
                        <div class="panel-body text-center">
                            <h4>
                                <a th:href="@{/products/all}" class="pro-title">
                                    HOUSEHOLD
                                </a>
                            </h4>
                        </div>
                    </section>
                </div>
            </div>

            <div class="d-inline-block">
                <div
                        class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box text-center">
                            <img src="https://previews.123rf.com/images/orfeev/orfeev1401/orfeev140100014/25117924-clothes-sketches.jpg"
                                 width="250" height="220" />
                        </div>
                        <div class="panel-body text-center">
                            <h4>
                                <a th:href="@{/products/all}" class="pro-title">
                                    FASHION
                                </a>
                            </h4>
                        </div>
                    </section>
                </div>
            </div>

            <div class="d-inline-block">
                <div
                        class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box text-center">
                            <img src="https://media.istockphoto.com/vectors/home-repair-icons-vector-id498492471?k=20&m=498492471&s=612x612&w=0&h=i_9EKfEOeDyFhNuNt9kxKft0Z_i_GzipZdVUeTKj_uw="
                                 width="250" height="220" />
                        </div>
                        <div class="panel-body text-center">
                            <h4>
                                <a th:href="@{/products/all}" class="pro-title">
                                    SERVICES
                                </a>
                            </h4>
                        </div>
                    </section>
                </div>
            </div>

            <div class="d-inline-block">
                <div
                        class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box text-center">
                            <img src="https://media.istockphoto.com/vectors/real-estate-line-icons-set-modern-graphic-design-concepts-simple-vector-id1158071752?k=20&m=1158071752&s=612x612&w=0&h=HgHq-3tOLt-qYXLfuoFRvpmmr4HgakJzxdMUTnry7Zk="
                                 width="250" height="220" />
                        </div>
                        <div class="panel-body text-center">
                            <h4>
                                <a th:href="@{/products(category='property')}" class="pro-title">
                                    PROPERTY
                                </a>
                            </h4>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    <div class="container">

        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is the best place, where you can easy Buy and Sell everything!</p>
    </div>

    <div class="">

        <div class="d-inline-block">
            <div
                    class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box text-center">
                        <img src="https://i.pinimg.com/originals/1e/3f/8a/1e3f8a5d34e64577a4f691568e1ed84f.png"
                             width="250" height="220" />
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <a th:href="@{/products/all}" class="pro-title">
                                ELECTRONICS
                            </a>
                        </h4>
                    </div>
                </section>
            </div>
        </div>

        <div class="d-inline-block">
            <div
                    class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box text-center">
                        <img src="https://i.pinimg.com/originals/23/f2/ab/23f2ab142a59f5a41cc0523f8ad12f8d.jpg"
                             width="250" height="220" />
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <a th:href="@{/products/all}" class="pro-title">
                                VEHICLES
                            </a>
                        </h4>
                    </div>
                </section>
            </div>
        </div>

        <div class="d-inline-block">
            <div
                    class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box text-center">
                        <img src="https://img.freepik.com/free-vector/illustration-drawing-style-animal-collection_53876-35152.jpg?w=2000"
                             width="250" height="220" />
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <a th:href="@{/products/all}" class="pro-title">
                                ANIMALS
                            </a>
                        </h4>
                    </div>
                </section>
            </div>
        </div>

        <div class="d-inline-block">
            <div
                    class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box text-center">
                        <img src="https://asgc.co.nz/images/categories/other_clients.jpg"
                             width="250" height="220" />
                    </div>
                    <div class="panel-body text-center">
                        <h4 class="text-center">
                            <a th:href="@{/products/all}" class="pro-title">
                                OTHERS
                            </a>
                        </h4>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer::footer" ></footer>

<th:block th:replace="fragments/scripts::scripts">

</th:block>

</body>

</html>