<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>

<nav th:replace="fragments/navbar::navbar"></nav>
<div class="jumbotron jumbotron-fluid text-center">

        <div class="">

            <div class="d-inline-block">
                <div
                        class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box text-center">
                            <img src="../static/images/home.jpg"
                                 width="250" height="220" />
                        </div>
                        <div class="panel-body text-center">
                            <h4>
                                <a th:href="@{/products/all}" class="pro-title">
                                    HOME
                                </a>
                            </h4>
                        </div>
                    </section>
                </div>
            </div>

            <div class="d-inline-block">
                <div
                        class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box text-center">
                            <img src="../static/images/fashion.jpg"
                                 width="250" height="220" />
                        </div>
                        <div class="panel-body text-center">
                            <h4>
                                <a th:href="@{/products/all}" class="pro-title">
                                    FASHION
                                </a>
                            </h4>
                        </div>
                    </section>
                </div>
            </div>

            <div class="d-inline-block">
                <div
                        class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box text-center">
                            <img src="../static/images/services.jpg"
                                 width="250" height="220" />
                        </div>
                        <div class="panel-body text-center">
                            <h4>
                                <a th:href="@{/products/all}" class="pro-title">
                                    SERVICES
                                </a>
                            </h4>
                        </div>
                    </section>
                </div>
            </div>

            <div class="d-inline-block">
                <div
                        class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box text-center">
                            <img src="../static/images/property.jpg"
                                 width="250" height="220" />
                        </div>
                        <div class="panel-body text-center">
                            <h4>
                                <a th:href="@{/products/all}" class="pro-title">
                                    PROPERTY
                                </a>
                            </h4>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    <div class="container">

        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is the best place, where you can easy Buy and Sell everything!</p>
    </div>

    <div class="">

        <div class="d-inline-block">
            <div
                    class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box text-center">
                        <img src="../static/images/home.jpg.jpg"
                             width="250" height="220" />
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <a th:href="@{/products/all}" class="pro-title">
                                ELECTRONICS
                            </a>
                        </h4>
                    </div>
                </section>
            </div>
        </div>

        <div class="d-inline-block">
            <div
                    class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box text-center">
                        <img src="../static/images/vehicle%20-%20car.jpg.jpg"
                             width="250" height="220" />
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <a th:href="@{/products/all}" class="pro-title">
                                VEHICLES
                            </a>
                        </h4>
                    </div>
                </section>
            </div>
        </div>

        <div class="d-inline-block">
            <div
                    class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box text-center">
                        <img src="../static/images/animals-dog%20and%20cat.jpg.jpg"
                             width="250" height="220" />
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <a th:href="@{/products/all}" class="pro-title">
                                ANIMALS
                            </a>
                        </h4>
                    </div>
                </section>
            </div>
        </div>

        <div class="d-inline-block">
            <div
                    class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box text-center">
                        <img src="../static/images/home.jpg.jpg"
                             width="250" height="220" />
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <a th:href="@{/products/all}" class="pro-title">
                                OTHER
                            </a>
                        </h4>
                    </div>
                </section>
            </div>
        </div>
    </div>



</div>

<th:block th:replace="fragments/scripts::scripts">

</th:block>

</body>

</html>