<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head">
    <link href="styles.css" rel="stylesheet">
</head>

<body>

<nav th:replace="fragments/navbar.html"></nav>

<div class="container">
    <div class="main-body">

        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <!--                                            todo: validation-->
            <form

                th:action="@{/users/profile/{userId}/save(userId = ${#authentication.principal.id})}"
                th:method="post"
                th:object="${userEditViewModel}">

                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <input class="col-sm-9"
                                       th:field="*{firstName}">

                                </input>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <input class="col-sm-9" th:field="*{lastName}">

                                </input>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <input class="col-sm-9 " th:field="*{email}">

                                </input>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <input class="col-sm-9 " th:field="*{mobileNumber}">

                                </input>
                            </div>
                            <hr>

                            <div class="row mb-4">

                                <div class="col d-flex justify-content-center">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button class="btn btn-info" type="submit"> Save Changes</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-12">
<!--                                            todo-->
                                            <a class="btn btn-info " href="" target="__blank">Change password</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


            </form>


        </div>
    </div>

</div>
</div>


<footer th:replace="fragments/footer::footer"></footer>
<th:block th:replace="fragments/scripts::scripts">

</th:block>

</body>
</html>