<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Buy8Sell</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<nav th:replace="fragments/navbar::navbar"></nav>

<div th:object="${productInfoView}"
        class="container mt-5">

    <div class="row mb-7">
        <div class="col-md-5">
            <img th:src="*{pictures.toArray[0].getUrl()}"
                 width="400" height="380" />

            <div style="position: center">
                <div class="form-outline mb-2">
                    <label class="form-label" th:text="|Views: *{views}|">Views</label>
                </div>

                <div class="form-outline mb-2">
                    <label class="form-label" th:text="|In favorites on: *{fans.size()}|">Views</label>
                </div>

            </div>



        </div>

        <div class="col">
                <div class="col-md-12">
                    <div class="card px-5 py-5" id="form1">
                        <!-- Title  -->
                        <h2     th:text="*{title}"
                                class="text-center"
                                text="title of product">Title of product</h2>
                        <div class="form-data">

                            <div>
                                <!-- Condition -->
                                <div class="form-outline mb-2">
                                    <label class="form-label" th:text="|Condition: *{condition.name()}|">Condition</label>
                                </div>

                                <!-- Category input -->

                                <div class="form-outline mb-2">
                                    <label class="form-label" th:text="|Category: *{category.category.name()}|">Category</label>
                                </div>


                                <!-- description input -->

                                <div class="form-outline mb-2">
                                    <label class="form-label" th:text="|Description: *{description}|">Description</label>
                                </div>

                                <!--  Price -->
                                <div class="form-outline mb-2">
                                    <label class="form-label" th:text="|Price: *{price}|">Price</label>
                                </div>

                                <!-- Location input -->

                                <div class="form-outline mb-2">
                                    <label class="form-label" th:text="|Location: *{location.location.name()}|">Location</label>
                                </div>

                                <div th:if="*{isPromo()}" class="form-outline mb-2">
                                    <h5>
                                        <span  class="form-label badge badge-warning" th:text="|Promo|"></span>
                                    </h5>

                                </div>

                                <div class="form-outline mb-2">
                                    <label class="form-label" >Number for contact with seller:</label>
                                    <strong class="form-label" th:text="*{seller.getMobileNumber()}"></strong>
                                </div>
                                <div class="form-outline mb-2">
                                    <label class="form-label" th:text="|Created: ${#temporals.format(created,'dd-MM-yyyy HH:mm')}|">Created</label>
                                </div>



                                <!-- Submit button  if user is login//todo-->
                                <th:block>
                                    <input type="submit" class="btn btn-primary btn-block mb-2" value="Send message"/>
                                </th:block>


                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="row mb-7">
        <div class="card" id="comments">
            Comments:
        </div>
    </div>

    <div>
        <form>
            <textarea name="comment" id="comment" class="form-control" placeholder="White your comment..." ></textarea>
            <button type="submit" class="btn btn-info" for="description">Add comment</button>
        </form>
    </div>


</div>


<footer th:replace="fragments/footer::footer" ></footer>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>



</html>