<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Buy8Sell</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<nav th:replace="fragments/navbar.html"></nav>

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <div class="form-data" v-if="!submitted">

                    TODO: name and validation should be finished!!!!!!!!!!!!

                    <div class="forms-inputs mb-4"> <span>Username</span> <input autocomplete="off" type="text"
                         name="username"
                        v-model="username" v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}" v-on:blur="emailBlured = true">
                        <div class="invalid-feedback">A valid email is required!</div>
                    </div>

                    <div class="forms-inputs mb-4"> <span>Password</span> <input autocomplete="off" type="password"
                     name="password"
                      v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true">
                        <div class="invalid-feedback">Password must be 8 character!</div>
                    </div>

                    <div class="forms-inputs mb-4"> <span>Email</span> <input autocomplete="off" type="password"
                     v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true">
                        <div class="invalid-feedback">Password must be 8 character!</div>
                    </div>

                    <div class="forms-inputs mb-4"> <span>First name</span> <input autocomplete="off" type="password"
                    v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true">
                        <div class="invalid-feedback">Password must be 8 character!</div>
                    </div>

                    <div class="forms-inputs mb-4"> <span>Last name</span> <input autocomplete="off" type="password"
                    v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true">
                        <div class="invalid-feedback">Password must be 8 character!</div>
                    </div>

                    <div class="forms-inputs mb-4"> <span>Mobile number</span> <input autocomplete="off" type="password"
                   v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true">
                        <div class="invalid-feedback">Password must be 8 character!</div>
                    </div>


                    <div class="mb-3"> <button v-on:click.stop.prevent="submit" class="btn btn-dark w-100">Register</button> </div>
                </div>
                <div class="success-data" v-else>
                    <div class="text-center d-flex flex-column"> <i class='bx bxs-badge-check'></i>
                        <span class="text-center fs-1">You have been logged in <br> Successfully</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--        <p>or sign up with:</p>-->
<!--        <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--            <i class="fab fa-facebook-f"></i>-->
<!--        </button>-->

<!--        <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--            <i class="fab fa-google"></i>-->
<!--        </button>-->

<!--        <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--            <i class="fab fa-twitter"></i>-->
<!--        </button>-->

<!--        <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--            <i class="fab fa-github"></i>-->
<!--        </button>-->

    </div>
</form>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>



</html>